setuptools
cffi
glfw
mujoco-py==1.50.1.68
gym==0.15.4
seaborn==0.11.0
pyquaternion==0.9.5
joblib==0.13.2
scikit-learn==0.21.3
tqdm==4.55.0
pyyaml==6.0
dm_control
git+https://github.com/mingfeisun/dm_control2gym.git
pybullet==3.2.0
tensorflow-gpu==1.14.0
roboschool==1.0.49
pytest==6.2.5
mpi4py==3.1.3
